<nav class="nav">
    <h1 routerLink="/"> EComm</h1>
    <div *ngIf="menuType!=='seller'" class="nav-search">
        <input type="text" #searchInput (blur)="hideSearch()" (keyup)="searchProduct($event)" placeholder="Search for products"/>
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggest-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult"> 
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'Default'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="/user-auth">Login/Sign-up</a></li>
            <li><a href="#">Cart({{cartItems}})</a></li>
        </ul>

        <ul *ngSwitchCase="'user'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="/user-auth">{{user_Name|titlecase}}</a></li>
            <li><a routerLink="my-orders">My Orders</a></li>
            <li><a (click)="userLogout()">Logout</a></li>
            <li><a [routerLink]="cartItems>0 ?'cart-page':null">Cart({{cartItems}})</a></li>
        </ul>

        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="app-seller-add-product">Add Product</a></li>
            <li><a routerLink="/seller-auth">Product List</a></li>
            <li><a href="#" (click)="logout()">Logout</a></li>
            <li><a href="#">{{sellerName | titlecase}}</a></li>
        </ul>
    </div>


</nav>
