.checkout h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: blueviolet;
}
.checkout h3{
    text-align: center ;
    margin-top: 15px;
    margin-bottom: 15px;
    color: blueviolet;
}