<div class="row search-item" *ngFor="let item of searchResult">
    <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
            <img src="{{item.image}}" alt="">
        </a>
        
    </div>
    <div class="col-sm-8 details">
        <h6 routerLink="/details/{{item.id}}">{{item.name}}</h6>
        <p><b>₹{{item.price}}</b></p>
        <p><span>Color: {{item.color}}</span> <span>Category: {{item.catagory}}</span></p>
        <p>Description: {{item.description}}</p>

    </div>
</div>
