<ngb-carousel *ngIf="popularProduct">
	<ng-template *ngFor="let item of popularProduct" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{item.id}}">
				<img class="product-header-Image" src="{{item.image}}" alt="Random first slide" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>

</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-3" *ngFor="let product of trendyProducts">
			<div class="product-item">
				<img src="{{product.image}}" alt="">

				<div class="product-details">
					<h6 class="name-head">{{product.name}}</h6>
					<div class="product-price">
						<h6>Price: ₹{{product.price}}</h6>
					</div>
					<div class="product-color">
						<h6> Color: {{product.color}}</h6>
					</div>
					<div class="product-footer">
						<a routerLink="/details/{{product.id}}">View Product</a>
						<a>Add to Cart</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>